/* Color Codes */
:root {
  --theme-text: #2b2b2b;
  --theme-text-light: #5d5d5d;
  --theme-heading: #111;
  --theme-red: #ee0000;
  --theme-blue: #3869ff;
  --theme-light-blue: #0099e4;
  --theme-heading-font: 'PT Serif', serif;
  --theme-font: 'Source Sans Pro', sans-serif;
  --theme-light-border: #eee;
}

.photos {
  display: grid;
  max-width: 85%;
}
.photos > .content {
  grid-column-start: auto;
}
@media screen and (min-width: 2560px) {
  .photos {
    max-width: 2560px;
  }
}

.photo-container {
  margin: 2%;
  position: relative;
}

.photo-column {
  width: 33%;
  float: left;
}

.loading, .photo-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% - 10px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--theme-heading);
  opacity: 0;
}

.loading {
  opacity: 1;
  top: 45%;
  left: 45%;
  background: rgba(255, 255, 255, 0);
  border: 2px solid var(--theme-light-border);
  animation: spin 1s linear infinite;
  border-top: 2px solid var(--theme-text-light);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.photo-overlay:hover {
  background: rgba(17, 17, 17, 0.8);
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.photo-overlay h4 {
  color: white;
}

@media screen and (max-width: 760px) {
  .photo-column {
    width: 100%;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.95);
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.modal-image {
  margin-top: 4%;
  max-height: 80vh;
  padding-left: 5%;
  padding-right: 5%;
}
.modal > h4 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.75rem;
}
@media screen and (max-width: 760px) {
  .modal > h4 {
    font-size: 1.5rem;
  }
}
.modal h4:before {
  content: '\B7';
  margin-right: 15px;
  color: var(--theme-red);
}
.modal h4:after {
  content: '\B7';
  margin-left: 15px;
  color: var(--theme-red);
}
.modal > .close {
  position: absolute;
  top: 2%;
  right: 4%;
  font-size: 2rem;
  color: var(--theme-text-light);
  cursor: pointer;
}
.ajanta {
  margin-bottom: 0;
}

.ajanta > .blur {
  filter: blur(5vw);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
