/* Color Codes */
:root {
  --theme-text: #2b2b2b;
  --theme-text-light: #5d5d5d;
  --theme-heading: #111;
  --theme-red: #ee0000;
  --theme-blue: #3869ff;
  --theme-light-blue: #0099e4;
  --theme-light-border: #eee;
  --theme-light-background: #f9f9f9;
  --theme-heading-font: 'PT Serif', serif;
  --theme-font: 'Source Sans Pro', sans-serif;
}

/* reset */

html {
  box-sizing: border-box;
  font-size: 0.625;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: var(--theme-font);
  font-display: swap;
  overflow-x: hidden;
  color: var(--theme-text);
  position: relative;
  min-height: 100vh;
  padding-bottom: 10rem;
}

code {
  font-family: monospace;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  color: #c7254e;
  background-color: #f9f2f4;
  font-size: 90%;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 30px;
  font-size: 0.8rem;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: 15px 20px 20px -15px rgba(0,0,0,0.7);
}

video {
  border-radius: 4px;
  box-shadow: 15px 20px 20px -15px rgba(0,0,0,0.7);
  border: 1px solid var(--theme-light-border);
  padding: 10px;
}

.container {
  max-width: 1170px;
  margin: auto;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid var(--theme-light-border);
}

ul, ol {
  -webkit-padding-start: 40px;
  -moz-padding-start: 40px;
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}

blockquote {
  border-left: 5px solid var(--theme-light-border);
  margin: 0 0 20px;
  padding: 10px 20px;
  font-family: var(--theme-heading-font);
  color: var(--theme-text-light);
}

blockquote p {
  margin-bottom: 0;
}

strong, b {
  color: var(--theme-heading);
}

/* actual styles */

/* Navbar */

.navbar {
  position: absolute;
  background: white;
  padding: 0.7rem;
  font-size: 1rem;
}

.navbar-primary {
  top: 0;
  left: 0;
  border-top: 3px solid var(--theme-blue);
}

.navbar-secondary {
  bottom: 0;
  right: 0;
  border-bottom: 3px solid var(--theme-blue);
}

.navbar-posts {
  width: 100%;
  padding: 30px 0 30px 0;
  display: block;
  text-align: center;
  border-top: 2px solid var(--theme-red);
}

.navbar-posts > a {
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.navbar-posts > a:after {
  content: '\B7';
  color: var(--theme-red);
  margin-left: 15px;
}

.navbar-posts > a:last-child:after {
  content: '';
  margin-left: 0;
}

/* Contents */

.hero {
  background-size: cover;
  background-position-y: bottom;
  text-align: left;
  position: relative;
}

.content {
  color: var(--theme-text);
  padding: 0 5px;
  text-align: justify;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.85;
}

.posts {
  display: grid;
  grid-template-columns: 10% auto 10%;
}

.narrow {
  grid-template-columns: 15% auto 15%;
}

.post,
.content,
.see-more {
  grid-column-start: 2;
}

.mobile-hero.content {
  padding: 0;
  display: none;
}

@media screen and (max-width: 760px) {
  .mobile-hero.content {
    display: block;
  }

  .hero {
    display: none;
  }

  main {
    margin-top: 15%;
  }
}

.featured-posts {
  letter-spacing: 2.5px;
  font-size: 0.8rem;
}

.featured-posts > hr {
  width: calc(15 * 0.45rem);
  margin-top: 5px;
  margin-bottom: 40px;
}

.archive-year:not(:first-child) {
  margin-top: 20px;
}

.see-more {
  margin-top: 30px;
  font-size: 0.85rem;
  letter-spacing: 2px;
  color: var(--theme-text-light);
}

.animate {
  margin-top: -21px;
  border-color: var(--theme-red);
  width: 0;
}

.post:hover > hr.animate {
  width: 100%;
  transition: width 0.3s linear;
}

@media screen and (max-width: 760px) {
  .posts {
    grid-template-columns: 5% 90% 5%;
  }
}

.hero-page .helloWorld {
  padding: 100px 10%;
}

.hello {
  font-size: 3rem;
  line-height: 1;
  background: white;
  width: fit-content;
  width: -moz-fit-content;
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.hello-page {
  color: var(--theme-light-blue);
}

.language {
  float: right;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .language {
    float: none;
  }
}

.posts {
  margin-top: 35px;
  line-height: 2;
  font-size: 1rem;
}

p {
  margin: 0 0 30px;
}

code.block {
  display: block;
  white-space: pre-wrap;
}

.post-header {
  margin: 4% 2% 4% 2%;
  padding-left: 7%;
  padding-right: 7%;
}

.post-hr {
  width: 5%;
  margin-left: 50%;
  border-top: 2px solid var(--theme-red);
  margin-top: 4%;
  margin-bottom: 0;
  transform: translateX(-50%);
}

@media screen and (max-width: 760px) {
  .post-header {
    margin: 4% 2% 10% 2%;
  }

  .post-hr {
    margin-top: 10%;
  }
}

.date {
  text-align: center;
  color: var(--theme-text-light);
  font-size: 0.9rem;
  margin: 3% 0 0;
}

.tags {
  text-align: center;
}

.portrait-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portrait-image > img {
  max-height: 400px;
  margin-bottom: 30px;
}

h1 {
  font-family: var(--theme-heading-font);
  font-weight: 700;
  font-size: 2.2rem;
  color: var(--theme-heading);
  text-align: center;
  line-height: 1.3;
}

h2 {
  text-align: center;
  color: var(--theme-text-light);
  font-family: var(--theme-font);
  font-size: 1.2rem;
  margin-top: 1%;
  line-height: 1.3;
}

h4 {
  font-family: var(--theme-heading-font);
  font-weight: 700;
  font-size: 1.4rem;
  margin: 20px 0;
}

/* Tag List */

.taglistem {
  max-width: 780px;
  text-justify: distribute;
  text-justify: inter-character;
}

.language a,
.language a:link,
.language a:visited {
  color: var(--theme-red);
}

.language a:focus,
.language a:hover,
.language a:active {
  color: var(--theme-blue);
}

/* Footer */

footer {
  color: var(--theme-text-light);
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  min-width: 100vw;
  padding: 1rem;
  border-bottom: 2px solid var(--theme-red);
  background: var(--theme-light-background);
}

.social {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
}

.social>svg {
  height: 0.8rem;
  fill: var(--theme-text-light);
  vertical-align: middle;
}

.social>svg,
.social>svg:link,
.social>svg:visited {
  fill: var(--theme-text-light);
}

.social>svg:hover {
  fill: var(--theme-blue);
  transition: fill 0.2s linear;
}

.social>svg:active {
  fill: var(--theme-text-light);
}

.copyright {
  font-size: 0.8rem;
  text-align: right;
}

@media screen and (max-width: 470px) {
  .copyright {
    text-align: center;
  }
}

/* Miscellaneous */

::selection {
  background-color: var(--theme-blue);
  color: white;
}

a,
a:link,
a:visited,
a:active {
  color: var(--theme-blue);
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--theme-red);
  text-decoration: none;
  transition: color 0.2s linear;
}

h4 > a,
h4 > a:link,
h4 > a:visited,
h4 > a:focus,
h4 > a:hover,
h4 > a:active {
  color: var(--theme-heading);
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/ODelI1aHBYDBqgeIAH2zlJbPFduIYtoLzwST68uhz_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v9/EJRVQgYoZZY2vCFuvAFWzr-_dSb_.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(https://fonts.gstatic.com/s/ptserif/v9/EJRSQgYoZZY2vCFuvAnt66qSVyvVp8NA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
