<head>
  <script inline src="/static/js/dark-mode.js"></script>
  <!-- <script inline src="/static/js/determine-font.js"></script> -->

  {% include ga.html %}
  {% include favicon.html %}

  <link rel="prefetch" href="/">
  <link rel="prefetch" href="/about/">
  <link rel="prefetch" href="/blog/">
  <link rel="prefetch" href="/art/">

  {% if current == 'index' %}
    {% assign articles = posts | sortByOrder %}
    {% for article in articles %}
      {% assign post = article %}
      {% unless article.hidden %}
        {% if article.showOnHomePage %}
          <link rel="prefetch" href="/{{ post.path }}/">
        {% endif %}
      {% endunless %}
    {% endfor %}
  {% endif %}

  <link rel="preload" href="/static/css/styles.css" as="style">

  {% if post %}
    <link rel="preload" href="/static/css/github-gist.css" as="style">
    <link rel="preload" href="/static/css/ajanta.css" as="style">
    <link rel="preload" href="/static/js/ajanta.js" as="script">
  {% else %}
    <link rel="prefetch" href="/static/css/github-gist.css" as="style">
    <link rel="prefetch" href="/static/css/ajanta.css" as="style">
    <link rel="prefetch" href="/static/js/ajanta.js" as="script">
  {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if tag %}
    <title>Posts Tagged {{ tag }} | @siva</title>
  {% else %}
    <title>{% if title %}{{ title }} | {% endif %}@siva</title>
  {% endif %}

  <meta name="theme-color" content="#f0fcfd">
  <meta name="description" content="{% if description %}{{ description }}{% else %}{{ data.config.description }}{% endif %}">
  <meta name="author" content="{{ data.config.name }}">
  {% unless post.headerImage %}
    <meta property="og:image" content="{{ data.config.url }}static/images/og-image.png">
  {% endunless %}

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@astronomersiva" />
  <meta property="og:url" content="{{ data.config.url }}" />
  <meta property="og:title" content="{% if title %}{{ title }} | {% endif %}@siva" />
  <meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ data.config.description }}{% endif %}" />
  <meta property="og:image" content="{{ data.config.url }}static/images/og-image.png" />

  <link rel="alternate" type="application/rss+xml" title="{{ data.config.title }}" href="{{ data.config.url }}rss.xml" />

  <link rel="stylesheet" href="/static/css/styles.css">
  <noscript>
    <style>
      .dark-mode-toggle-container {
        display: none !important;
      }
    </style>
  </noscript>
  {% if post %}
    <link rel="stylesheet" href="/static/css/github-gist.css">
  {% endif %}
  {% if post or current == "about" %}
    <link rel="stylesheet" href="/static/css/ajanta.css">
    <noscript>
      <style>
        .ajanta {
          display: none;
        }
      </style>
    </noscript>
  {% endif %}

  {% if current == "art" %}
    <link rel="preload" href="/static/css/ajanta.css" as="style">
    <link rel="preload" href="/static/css/photography.css" as="style">

    <link href="/static/css/ajanta.css" rel="stylesheet" type="text/css">
    <link inline href="/static/css/photography.css" rel="stylesheet" type="text/css">
    <noscript>
      <style>
        .loading {
          display: none;
        }
      </style>
    </noscript>
  {% endif %}
  {% if current == "about" %}
    <style>
      .nav {
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
      }
    </style>
  {% endif %}

  <script inline src="/static/js/determine-webp-support.js"></script>

  {% if post or current == "about" %}
    <script defer src="/static/js/ajanta.js"></script>
  {% endif %}

  <script defer src="/static/js/instantpage.js"></script>
</head>
