<style>
  #canvas-container {
    position: relative;
    margin-bottom: 400px;
    margin-top: 70px;
  }
  canvas {
    height: 300px;
    overflow: hidden;
  }
  #top {
    position: absolute;
    left: 0
  }
  #bottom {
    position: absolute;
    left: 0;
  }
</style>

<label>
  Rotation
  <input id="rotation" type="range" min="0" max="360">
</label>
<br>
<label>
  Translation
  <input id="translation" type="range" min="0" max="100">
</label>

<div id="canvas-container">
  <canvas id="top"></canvas>
  <canvas id="bottom"></canvas>
</div>

<script>
  function handleRotationForDots() {
    let input = document.getElementById('rotation');
    let topCanvas = document.getElementById('top');

    topCanvas.style.transform = `rotate(${input.value || 0}deg)`;
  }

  function handleTranslationForDots() {
    let input = document.getElementById('translation');
    let topCanvas = document.getElementById('top');

    topCanvas.style.transform = `translate(${input.value}%)`;
  }

  (function() {
    let rotation = document.getElementById('rotation');
    let translation = document.getElementById('translation');
    rotation.value = 0;
    translation.value = 0;

    rotation.oninput = handleRotationForDots;
    translation.oninput = handleTranslationForDots;

    function drawDots(canvas) {
      let context = canvas.getContext('2d');

      let scaledWidth = window.innerWidth / 6;
      let size = scaledWidth > 360 ? scaledWidth : 360;
      let dpr = window.devicePixelRatio;
      canvas.width = size * dpr;
      canvas.height = size * dpr;
      context.scale(dpr, dpr);
      context.lineJoin = 'bevel';

      let gap = 3;
      let points = [];

      for (let y = 0; y <= size; y += gap) {
        let rows = [];
        for (let x = 0; x <= size; x += gap) {
          rows.push({ x, y });
          context.beginPath();
          context.arc(x, y, 1, 0, 2 * Math.PI, true);
          context.fill();
        }

        points.push(rows);
      }
    }

    let topCanvas = document.getElementById('top');
    let bottomCanvas = document.getElementById('bottom');

    drawDots(topCanvas)
    drawDots(bottomCanvas)
  })();
</script>
