{% set imageSrcBase = "/static/images/photography/" %}
{% set src = imageSrcBase + data.photos[i].src %}
{% set webp_src = src + ".webp" %}
{% set placeholderSrc = imageSrcBase + "placeholder-" + data.photos[i].src %}
{% set description = data.photos[i].description %}
<div tabindex="0" class="photo-container" onclick="openModal('{{src}}', '{% if not data.photos[i].nowebp %}{{webp_src}}{% endif %}', '{{description}}')" onkeypress="if (event.keyCode === 13) { openModal('{{src}}', '{{webp_src}}', '{{description}}') }">
  <div class="ajanta">
    <img
      inline
      data-img-src="{{ src }}"
      {% if not data.photos[i].nowebp %}
        data-img-webp-src="{{ webp_src }}"
      {% endif %}
      class="img-responsive center-block pixelated blur"
      src="{{ placeholderSrc }}"
      alt="{{description}}"
    />

    <img
      class="img-responsive center-block original"
      data-loaded="photo-{{i}}"
      alt="{{description}}"
    />
  </div>
  <noscript>
    <!-- Do not use loading="lazy" here until intrinsicsize is supported. There's too much reflow now. -->
    <img
      class="img-responsive center-block"
      src="{{ src }}"
      alt="{{description}}"
      data-loaded="photo-{{i}}">
  </noscript>
  <div class="loading" data-loading="photo-{{i}}"></div>
  <div class="photo-overlay">
    <h4>{{description}}</h4>
  </div>
</div>
