{% assign imageSrcBase = "/static/images/photography/" %}
{% assign src = imageSrcBase | append: data.photos[i].src %}
{% assign webp_src = src | append: ".webp" %}
{% assign placeholderSrc = imageSrcBase | append: "placeholder-" | append: data.photos[i].src %}
{% assign description = data.photos[i].description %}
<div tabindex="0" class="photo-container" onclick="openModal('{{src}}', '{% unless data.photos[i].nowebp %}{{webp_src}}{% endunless %}', '{{description}}')" onkeypress="if (event.keyCode === 13) { openModal('{{src}}', '{{webp_src}}', '{{description}}') }">
  <div class="ajanta">
    <img
      inline
      data-img-src="{{ src }}"
      {% unless data.photos[i].nowebp %}
        data-img-webp-src="{{ webp_src }}"
      {% endunless %}
      class="img-responsive center-block pixelated blur"
      src="{{ placeholderSrc }}"
      alt="{{description}}"
    />

    <img
      class="img-responsive center-block original"
      data-loaded="photo-{{i}}"
      alt="{{description}}"
    />
  </div>
  <noscript>
    <!-- Do not use loading="lazy" here until intrinsicsize is supported. There's too much reflow now. -->
    <img
      class="img-responsive center-block"
      src="{{ src }}"
      alt="{{description}}"
      data-loaded="photo-{{i}}">
  </noscript>
  <div class="loading" data-loading="photo-{{i}}"></div>
  <div class="photo-overlay">
    <h4>{{description}}</h4>
  </div>
</div>
