<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% if post.title %}{{ post.title }} | {% endif %}@siva</title>
  <meta property="og:title" content="{{ post.title }}" />
  <meta property="og:site_name" content="@siva" />
  <meta property="og:url" content="https://siva.dev/{{ post.path }}" />
  <meta property="og:description" content="{{ post.description }}" />
  <meta name="twitter:card" content="{{ post.description }}" />
  <meta name="twitter:creator" content="@astronomersiva" />
  <meta name="description" content="{{ post.description }}" />

  {% include "head.html" %}

  <link href="/static/css/ajanta.css" rel="stylesheet" type="text/css">
  <noscript>
    <style>
      .old-lazy-load {
        display: none;
      }
    </style>
  </noscript>

  {% if post.code %}
    <link rel="stylesheet" href="/static/js/highlight/styles/shades-of-purple.css" type="text/css">
  {% endif %}

  {% if post %}
    {% assign toPreload = post.imagesToPreload | split: ',' %}
    {% for asset in toPreload %}
      <link rel="preload" href="{{asset}}" as="image">
    {% endfor %}

    {% for tag in post.tags %}
      <link rel="prefetch" href="/tags/{{tag | downcase}}/">
    {% endfor %}
  {% endif %}
</head>
<body lang="en"> 
  <div class="container posts">
    <div class="content">
      {% include "navbar.html" %}
      {% include "post-header.html" %}
    </div>
  </div>

  <main role="main">
    <div class="container posts">
      <div class="content">
        {{ post.html }}
        <br>

        <div class="see-more">
          <strong>
            View Other Posts Tagged
            {% for tag in post.tags %}
              <a href="/tags/{{tag | downcase}}" class="text-light post-tag">{{tag}}</a>
            {% endfor %}
          </strong>
        </div>
        <br>
      </div>
    </div>
  </main>

  {% include "footer.html" %}
</body>
</html>
