<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% if post.title %}{{ post.title }} | {% endif %}@siva</title>
  <meta property="og:title" content="{{ post.title }}" />
  <meta property="og:site_name" content="@siva" />
  <meta property="og:url" content="https://sivasubramanyam.me/{{ post.path }}" />
  <meta property="og:description" content="{{ post.description }}" />
  <meta name="twitter:card" content="{{ post.description }}" />
  <meta name="twitter:creator" content="@astronomersiva" />
  <meta name="description" content="{{ post.description }}" />
  {% include "head.html" %}
  {% if post.hero %}
    <style>
      .hero-post, .webp .hero-post {
        background-image: url('{{post.hero}}');
      }

      {% if post.heroMobile %}
        @media screen and (max-width: 760px) {
          .hero-post, .webp .hero-post {
            background-image: url('{{post.heroMobile}}');
          }
        }
      {% endif %}
    </style>
  {% endif %}
  <link href="/static/css/ajanta.css" rel="stylesheet" type="text/css">
  {% if post.code %}
    <link rel="stylesheet" href="/static/js/highlight/styles/github-gist.css" type="text/css">
    <script src="/static/js/highlight/highlight.pack.js"></script>
  {% endif %}
</head>
<body>
  <div class="content hero hero-post">
    {% include "navbar.html" %}
    <div class="helloWorld">
      <div class="hello hello-post">
        {{ post.title }}
      </div>
    </div>
  </div>

  <main role="main">
    <div class="container posts">
      <div class="content">
        {{ post.html }}
      </div>
    </div>
  </main>

  {% include "footer.html" %}

  {% if post.code %}
    <script>
      const preTags = Array.from(document.getElementsByTagName('pre'));
      preTags.forEach((i, block) => {
        hljs.highlightBlock(i);
      });
    </script>
  {% endif %}
</body>
</html>
