<!DOCTYPE html>
<html lang="en">
  {% assign title = post.title %}
  {% assign description = post.description %}

  {% include head.html %}
<body>
  {% include nav.html %}

  <div class="wrapper-full animated">
    <header
      class="header header-post {% unless post.headerImage %}header-post-{{ post.order | modulo: 7 | plus: 1 }}{% endunless %}"
      {% if post.headerImage %}
        style="background:url({{post.headerImage}});background-size:cover;"
      {% endif %}
    >
      <h1 class="title">{{ post.title }}</h1>

      <span class="date">
        <time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
        · {% include read-time.html %}
      </span>

      <div class="post-tags">
        Tagged
        {% for tag in post.tags %}
          <a class="item" href="{{ site.url }}/tags/{{ tag | downcase }}">{{ tag }}</a>
          {% unless forloop.last == true %}·{% endunless %}
        {% endfor %}
      </div>
    </headerclass="header>
  </div>

  <main id="main">
    <div class="wrapper-medium animated">
      <div class="post">
        {% if post.image and post.headerImage %}
          <img class="title-image" src="{{ post.image }}" alt="{{ post.title }}">
        {% endif %}

        {% assign currentYear = 2019 %}
        {% assign postYear = post.date | date: '%Y' %}
        {% assign postAge = currentYear | minus: postYear %}
        {% if postAge >= 5 %}
          <div class="outdated-warning">
            <p>
              This post is over five years old. The contents of this post
              could be outdated especially if it's technical in nature. 
            </p>
          </div>
        {% endif %}

        {{post.html}}
      </div>
    </div>
  </main>

  <div class="wrapper-medium animated">
    <hr class="post-separator text-center">

    {% include related.html %}

    {% if post.showComments %}
      {% include comments.html %}
    {% endif %}
  </div>

  {% include footer.html %}
  <script defer inline src="/static/js/determine-chrome.js"></script>
  <script defer inline src="/static/js/ajanta-without-blur.js"></script>
</body>

</html>
