<div class="related">
  {% assign relatedPosts = 0 %}
  {% assign counter = 0 %}
  {% for tag in post.tags %}
    {% for otherPost in posts %}
      {% for tagInOtherPost in otherPost.tags %}
        {% if tagInOtherPost == tag %}
          {% if relatedPosts == 0 %}
            <h4>Related Posts</h4>
            <ul>
          {% endif %}
          {% assign counter = relatedPosts | plus: 1 %}
          {% assign relatedPosts = counter %}
          <li>
            <a href="/{{otherPost.path}}">{{ otherPost.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
  {% if relatedPosts > 0 %}
    </ul>
  {% endif %}
</div>
