<div class="related">
  {% assign relatedPosts = 0 %}
  {% assign counter = 0 %}
  {% for tag in post.tags %}
    {% assign allPosts = posts | sortByOrder %}
    {% for otherPost in allPosts %}
      {% if otherPost.path != post.path %}
        {% unless otherPost.hidden %}
          {% for tagInOtherPost in otherPost.tags %}
            {% if tagInOtherPost == tag %}
              {% if relatedPosts == 0 %}
                <h4>Here are a few similar posts that you might like:</h4>
                <ul>
              {% endif %}
              {% assign counter = relatedPosts | plus: 1 %}
              {% assign relatedPosts = counter %}
              <li>
                <a href="/{{otherPost.path}}/">{{ otherPost.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        {% endunless %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  {% if relatedPosts > 0 %}
    </ul>
  {% endif %}
</div>
