<!DOCTYPE html>

<html lang="en">
<head>
  <title>List of posts tagged {{ tag }} | @siva</title>
  <meta name="description" content="Personal blog on code and travel by Sivasubramanyam A.">
  {% assign tagList = true %}
  {% include "head.html" %}

  {% assign allArticles = posts | sortByOrder %}
  {% for post in allArticles %}
    {% if post.featured %}
      {% for postTag in post.tags %}
        {% if postTag == tag %}
          <link rel="prefetch" href="/{{post.path}}/">
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</head>

<body>
  <div class="container posts">
    <div class="content">
      {% include "navbar.html" %}

      <h1>Posts tagged {{tag}}</h1>
    </div>
  </div>

  <br>
  <br>

  <main role="main">
    <div class="container posts">
      <div class="content">
        {% assign featuredArticles = posts | sortByOrder %}
        {% for post in featuredArticles %}
          {% if post.featured %}
            {% for postTag in post.tags %}
              {% if postTag == tag %}
                {% include "post-item.html" %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}

        {% assign otherArticles = posts | sortByOrder %}
        {% for post in otherArticles %}
          {% unless post.featured %}
            {% unless post.hidden %}
              {% for postTag in post.tags %}
                {% if postTag == tag %}
                  {% include "post-item.html" %}
                {% endif %}
              {% endfor %}
            {% endunless %}
          {% endunless %}
        {% endfor %}
      </div>
    </div>
  </main>

  {% include "footer.html" %}
</body>
</html>
