<!DOCTYPE html>

<html lang="en">
<head>
  <title>List of posts tagged {{ tag }} | @siva</title>

  {% include "head.html" %}

  {% assign allArticles = posts | sortByOrder %}
  {% for article in allArticles %}
    {% if article.featured %}
      <link rel="prefetch" href="/{{article.path}}/">
    {% endif %}
  {% endfor %}

  {% include "no-script-bg.html" %}
</head>

<body>
  <div class="content hero hero-page">
    {% include "navbar.html" %}

    <div class="helloWorld">
      <div class="hello">
        <div class="taglistem">Posts tagged {{tag}}</div>
      </div>
    </div>
  </div>

  <div class="content mobile-hero">
    {% include "navbar-posts.html" %}

    <div class="container">
      <div class="content post-header">
        <h1>Posts tagged {{tag}}</h1>
      </div>
    </div>
  </div>

  <div class="container posts">
    <div class="content">
      {% assign articles = posts | sortByOrder %}

      <main role="main">
        {% for post in articles %}
          {% if post.featured %}
            {% include "tagged-post.html" %}
          {% endif %}
        {% endfor %}

        {% for post in articles %}
          {% unless post.featured %}
            {% unless post.hidden %}
              {% include "tagged-post.html" %}
              {% endunless %}
          {% endunless %}
        {% endfor %}
      </main>
    </div>
  </div>

  {% include "footer.html" %}
</body>
</html>
