<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}
  <noscript>
    <style>
      @media screen and (min-width: 480px) {
        .header-home {
          background-image: url(/static/images/bhutan.jpg);
        }
      }
    </style>
  </noscript>
<body>
  {% include "nav.html" %}

  <div class="wrapper-screen">
    {% include "header.html" %}
  </div>

  <main id="main">
    <div class="wrapper-medium animated">
      <div class="page blog">
        <p>Here's a list of all my blog articles that have been tagged under <span style="font-weight: 800;">{{tag}}</span>.</p>
        <section class="list">
          {% set featuredArticles = posts | sortByOrder %}

          {% for post in featuredArticles %}
            {% if post.featured %}
              {% for postTag in post.tags %}
                {% if postTag == tag %}
                  {% include "blog-post.html" %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}

          {% set otherArticles = posts | sortByOrder %}
          {% for post in otherArticles %}
            {% if not post.featured %}
              {% if not post.hidden %}
                {% for postTag in post.tags %}
                  {% if postTag == tag %}
                    {% include "blog-post.html" %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endif %}
          {% endfor %}

        </section>
      </div>
    </div>
  </main>
  {% include "footer.html" %}

  <script defer inline src="/static/js/determine-chrome.js"></script>
  <script defer inline src="/static/js/ajanta-for-css.js"></script>
</body>
</html>
