<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="top-banner"></div>

    <main>
      <div class="wrapper-medium">
        <div class="page blog">
          {% include header.html %}

          <section class="list animated">
            <h3 class="item text-center" style="margin-bottom:30px;">
              The page you are looking for for doesn't exist.
            </h3>
          </section>
        </div>
      </div>
    </main>

    {% include footer.html %}

  </body>
</html>
