<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <noscript>
    <style>
      .header-home {
        background-image: url(/static/images/hero.jpg);
      }
      .webp .header-home {
        background-image: url(/static/images/hero.webp);
      }
    </style>
  </noscript>
  <body>
    {% include nav.html %}

    <div class="wrapper-full">
      {% include header.html %}
    </div>

    <main id="main">
      <div class="wrapper-large">
        <div class="page blog">
          <section class="list animated">
            <h3 class="item text-center" style="margin-bottom:30px;">
              The page you are looking for for doesn't exist.
            </h3>
          </section>
        </div>
      </div>
    </main>

    {% include footer.html %}

    <script defer inline src="/static/js/determine-chrome.js"></script>
    <script defer inline src="/static/js/ajanta-for-css.js"></script>
  </body>
</html>
