<!DOCTYPE html>
<html lang="en">
{% set current = "about" %}
{% set title = "About" %}
{% set footer = "continuous" %}
{% include "head.html" %}
<body>
  {% include "nav.html" %}

  <main id="main">
    <div class="wrapper-xlarge animated">
      <div class="wrapper-large">
        <div class="page home" style="margin-top: 100px;">
          <h1 class="text-left light-heading" style="font-size:4rem">A little bit about myself.</h1>

          <p>
            I love writing applications that are user-friendly, accessible and performant.
            I currently work as a JavaScript Engineer at Zoho.
            I primarily contribute to web apps built with EmberJS and React at work.
            When not rolling out features or fixing bugs, I help in improving
            the performance of our web apps by addressing memory leaks and
            designing new patterns that could make our apps faster for our users.
            I build and maintain several internal tools and frameworks that are used
            by other developers as well. I also work on our deployment process
            and do a bit of DevOps when needed.
          </p>
        </div>
      </div>
    </div>

    <div class="wrapper-large animated">
      <div class="page home">
        <div class="side-by-side">
          <div class="toleft">
            <div class="ajanta">
              <img
                inline
                class="img-responsive center-block pixelated blur"
                src="/static/images/lowres/about.jpg"
                data-img-src="/static/images/about.jpg"
                webp="/static/images/about.webp"
                alt="At the Kudremukh National Park"
                aria-hidden="true"
              >

              <img class="img-responsive center-block original" alt="At the Kudremukh National Park">
              <figcaption style="margin-bottom: 30px;margin-top:10px;" class="caption">
                At the Kudremukh National Park
              </figcaption>
            </div>
            <noscript>
              <img
                loading="lazy"
                class="img-responsive center-block"
                src="/static/images/about.jpg"
                alt="At the Kudremukh National Park">
              <figcaption style="margin-bottom: 30px;margin-top:10px;" class="caption">
                At the Kudremukh National Park
              </figcaption>
            </noscript>
          </div>

          <div class="toright">
            <p>
              I am a seasoned trekker and love the sounds and smells of jungles.
              I have done a few exploratory treks, opening up new routes in the
              South Indian mountains. Over the last 2 years, I have been frequenting
              the Himalayas and I absolutely love how magnificent those mountains are.
              I make it point to go there at least twice in the winters just to experience
              the raw beauty of the place without any tourists. The north eastern part
              of India is my second favorite choice these days. Each of the
              <a href="https://en.wikipedia.org/wiki/Northeast_India#Seven_Sister_States" target="_blank"
                rel="noopener">
                Seven Sisters</a>
              is so different and it is almost like visiting individual countries.
              India's diversity is huge and I would really recommend you to explore it :)
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper-large animated">
      <div class="page home">

        <div class="side-by-side">
          <div class="toleft">
            <div class="ajanta">
              <img
                inline
                class="img-responsive center-block pixelated blur"
                src="/static/images/lowres/cac.jpg"
                data-img-src="/static/images/cac.jpg"
                webp="/static/images/cac.webp"
                alt="From one of CAC's outreach events"
                aria-hidden="true"
              >

              <img class="img-responsive center-block original" alt="From one of CAC's outreach events">
              <figcaption style="margin-bottom: 30px;margin-top:10px;" class="caption">
                From one of CAC's outreach events
              </figcaption>
            </div>
            <noscript>
              <img
                loading="lazy"
                class="img-responsive center-block"
                src="/static/images/cac.jpg"
                alt="From one of CAC's outreach events">
              <figcaption style="margin-bottom: 30px;margin-top:10px;" class="caption">
                From one of CAC's outreach events
              </figcaption>
            </noscript>
          </div>

          <div class="toright">
            <p>
              I am also an avid astronomer and run the
              Chennai Astronomy Club with the help of other volunteers.
              We mostly do overnight observation sessions(aka
              <a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/Star_party">
                Star Parties</a>
              ) from places
              far away from the city lights.
              My targets of choice are usually nebulae and galaxies and the very
              idea that I am looking at light that was emitted literally
              millions of years ago is exhilarating!
              We also do outreach events whenever time permits.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper-large animated" style="margin-bottom:10rem;">
      <div class="page home">
        <h2>Speaking</h2>
        <p>
          I have given quite a few talks at local user groups and forums.
          Here are a few that I remember:
          <ul>
            <li>
              <a href="https://vimeo.com/125968959" target="_blank" rel="noopener">
                Python Scripting in Android using SL4A - Chennaipy, March 2015.
              </a>
            </li>
            <li>
              Introduction to astronomy and how to pursue it as a passion - Innovate, Madras Institute of Technology, March 2018.
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=lh9Rndz9g2o" target="_blank" rel="noopener">
                Differential bundling of assets in Ember - EmberJS Chennai, August 2019.
              </a>
            </li>
            <li>
              <a href="https://youtu.be/Lm6Iw4XtsEU?t=300" target="_blank" rel="noopener">
                Building Real Time Applications with Ember - EmberJS Chennai, November 2019.
              </a>
            </li>
          </ul>
        </p>
      </div>
    </div>

    <div class="wrapper-large animated" style="margin-bottom:10rem;">
      <div class="page home">
        <p>
          If you would like to chat with me, feel free
          to reach out through <a href="mailto:{{ data.config.email }}">email</a>.
        </p>
      </div>
    </div>
  </main>

  {% include "footer.html" %}

  <!-- <script defer inline src="/static/js/determine-chrome.js"></script> -->
</body>
</html>
