<!DOCTYPE html>
<html lang="en">
  {% set current = "art" %}
  {% set title = "Art" %}

  {% include "head.html" %}
  <noscript>
    <style>
      .header-home {
        background-image: url(/static/images/bhutan.jpg);
      }
      .ajanta {
        display: none;
      }
      .loading {
        display: none;
      }
    </style>
  </noscript>
  <body>
    {% include "nav.html" %}

    <div class="wrapper-screen">
      {% include "header.html" %}
    </div>
    <main id="main">
      <div class="wrapper-large animated">
        <div class="page home">
          <p>
            This page is an attempt to curate some of my photographs
            and the results of my creative coding experiments.
          </p>

          <p>
            If you want to take a look at the code behind the creative
            coding sketches, you can take a look at the
            <a
              target="_blank"
              rel="noopener"
              href="https://github.com/astronomersiva/generative-art">repo</a> hosted on GitHub.
          </p>

          <section class="list">
            {% set no_of_photos = data.photos | length %}

            <!-- range in liquid is inclusive of the last digit -->
            {% set no_of_photos_for_looping = no_of_photos %}

            {% set photos_in_first_col = (no_of_photos / 2) | ceil %}
            {% set photos_in_second_col = no_of_photos - photos_in_first_col %}

            <div class="photo-column">
              {% set endindex = photos_in_first_col %}
              {% for i in range(0, endindex) %}
                {% include "photo-column.html" %}
              {% endfor %}
            </div>
            <div class="photo-column">
              {% set startindex = photos_in_first_col %}
              {% set endindex = photos_in_first_col + photos_in_second_col %}
              {% for i in range(startindex, endindex) %}
                {% include "photo-column.html" %}
              {% endfor %}
            </div>
          </section>
        </div>
      </div>
    </main>

    <div class="modal">
      <div class="close" onclick="window.history.back();">x</div>
      <img src="" class="img-responsive center-block modal-image">
      <h4 class="modal-desc"></h4>
    </div>

    {% include "footer.html" %}

    <script inline defer src="/static/js/modal.js"></script>
    <script inline defer src="/static/js/intersection-lazy-loader.js"></script>
    <script defer inline src="/static/js/determine-chrome.js"></script>
    <script defer inline src="/static/js/ajanta-for-css.js"></script>
  </body>
</html>
