<!DOCTYPE html>
<html lang="en">
  {% assign current = "art" %}
  {% assign title = "Art" %}

  {% include head.html %}
  <noscript>
    <style>
      .header-home {
        background-image: url(/static/images/hero.jpg);
      }
      .webp .header-home {
        background-image: url(/static/images/hero.webp);
      }
      .ajanta {
        display: none;
      }
      .loading {
        display: none;
      }
    </style>
  </noscript>
  <body>
    {% include nav.html %}

    <div class="wrapper-full">
      {% include header.html %}
    </div>
    <main id="main">
      <div class="wrapper-large animated">
        <div class="page home">
          <p>
            This page is an attempt to curate some of my photographs
            and the results of my creative coding experiments.
            Still a bit of work in progress.
          </p>

          <section class="list">
            {% assign no_of_photos = data.photos.size %}

            <!-- range in liquid is inclusive of the last digit -->
            {% assign no_of_photos_for_looping = no_of_photos | minus: 1 %}

            {% assign photos_in_first_col = no_of_photos | divided_by: 2 | ceil %}
            {% assign photos_in_second_col = no_of_photos | minus: photos_in_first_col %}

            <div class="photo-column">
              {% assign endindex = photos_in_first_col | minus: 1 %}
              {% for i in (0..endindex) %}
                {% include "photo-column.html" %}
              {% endfor %}
            </div>
            <div class="photo-column">
              {% assign startindex = photos_in_first_col %}
              {% assign endindex = photos_in_first_col | plus: photos_in_second_col | minus: 1 %}
              {% for i in (startindex..endindex) %}
                {% include "photo-column.html" %}
              {% endfor %}
            </div>
          </section>
        </div>
      </div>
    </main>

    <div class="modal">
      <div class="close" onclick="window.history.back();">x</div>
      <img src="" class="img-responsive center-block modal-image">
      <h4 class="modal-desc"></h4>
    </div>

    {% include footer.html %}

    <script inline defer src="/static/js/modal.js"></script>
    <script inline defer src="/static/js/intersection-lazy-loader.js"></script>
    <script defer inline src="/static/js/determine-chrome.js"></script>
    <script defer inline src="/static/js/ajanta-for-css.js"></script>
  </body>
</html>
