<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="Personal blog on code and travel by Sivasubramanyam A.">

  {% assign title = "Blog" %}
  {% include "head.html" %}

  {% assign allArticles = posts | sortByOrder %}
  {% for article in allArticles %}
    {% if article.featured %}
      <link rel="prefetch" href="/{{article.path}}/">
    {% endif %}
  {% endfor %}
</head>
<body>
  <div class="container posts">
    <div class="content">
      {% assign active = "blog" %}
      {% include "navbar.html" %}
      <h1>Blog</h1>
    </div>
  </div>

  <main role="main">
    <div class="container posts">
      {% assign articles = posts | sortByOrder %}

      {% assign year = "" %}

      {% for post in articles %}
        {% unless post.hidden %}
          {% assign currentYear = post.date | date: "%Y" %}

          {% unless year == currentYear %}
            {% assign year = currentYear %}
            <div class="post archive-year" id="{{currentYear}}">
              <h4>#<a href="#{{currentYear}}">{{currentYear}}</a></h4>
            </div>
          {% endunless %}

          {% include "post-item.html" %}
        {% endunless %}
      {% endfor %}
    </div>
  </main>
  {% include "footer.html" %}
</body>
</html>
