<!DOCTYPE html>
<html lang="en">
  {% set current = "index" %}
  {% include "head.html" %}
  <noscript>
    <style>
      .header-home {
        background-image: url(/static/images/hero.jpg);
      }
      .webp .header-home {
        background-image: url(/static/images/hero.webp);
      }
    </style>
  </noscript>
  <body>
    {% include "nav.html" %}
    <div class="wrapper-full animated">
      {% include "header.html" %}
    </div>

    <main id="main">
      <div class="wrapper-large animated">
        <div class="page home">
          <p>
            Hello! I'm Siva. I am currently working as a JavaScript Engineer at Zoho.
            My work involves building applications with Ember and React that are used by thousands of customers.
            I also write and maintain several internal applications and frameworks that are used by other developers.
          </p>
          <p>
            I love writing applications that are user-friendly, accessible and performant.
            I also like travelling and stargazing. This site is where I write down some of my thoughts, mostly related to
            programming but also touch upon my other interests at times.
          </p>
          <p>
            You can contact me on <a
            class="link"
            title="Twitter"
            href="https://twitter.com/{{ data.config.twitter }}"
            rel="noopener"
            target="_blank">Twitter</a> or send me an
            <a
              class="link"
              title="email"
              href="mailto:{{ data.config.email }}"
              target="_blank">email</a>.
          </p>

          <section class="list">
            <h3 class="featured-entries-intro" style="margin-top: 40px;font-weight: 800;padding-bottom: 30px;margin-bottom: 0;">Here are some of my featured blog posts.</h3>

            {% set articles = posts | sortByOrder %}
            {% set hideHighlight = true %}

            {% for article in articles %}
              {% set post = article %}
              {% if not article.hidden %}
                {% if article.showOnHomePage %}
                  {% include "blog-post-grid.html" %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </section>

          <section class="list">
            <h3 class="featured-entries-intro" style="padding-bottom: 30px;margin-bottom: 0;margin-top: 60px;font-weight: 800;">And, here's a few of my projects.</h3>

            {% for project in data.projects %}
              {% if not project.draft %}
                <div class="item">
                  <a class="url" {% if not project.internal %}target="_blank" rel="noopener"{% endif %} href="{{ project.link }}">
                    <h3 class="title">{{ project.name }}</h3>
                    <p style="margin-bottom: 0;">{{project.description}}</p>
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </section>

          <p style="margin-top:60px;">
            You can also visit the complete <a href="/blog">blog</a> archive if you are interested.
          </p>
        </div>
      </div>
    </main>

    {% include "footer.html" %}

    <script defer inline src="/static/js/determine-chrome.js"></script>
    <script defer inline src="/static/js/ajanta-for-css.js"></script>
  </body>
</html>
