<!DOCTYPE html>
<html lang="en">
  {% set current = "notes" %}

  {% include "head.html" %}
  <body>
    {% include "nav.html" %}

    <main id="main">
      <div class="wrapper-large animated">
        <div class="page notes">
          <h1>Notes &amp; Learnings</h1>

          <h2>...and, anything too short to be a blog post.</h2>

          <ul class="notes-list">
            {% for note in data.notes | reverse %}
              <li class="note" id="{{ note.id }}">
                {% if note.title %}
                  <div class="note-time">
                    <time datetime="{{ note.date | date("DD-MM-YYYY") }}">{{ note.date | date("MMMM DD, YYYY") }}</time>
                  </div>

                  <h3>
                    {{ note.title }}

                    <a href="#{{ note.id }}" class="note-id">#</a>
                  </h3>

                  {% if note.content %}
                    <p class="mb-0">{{ note.content }}</p>
                  {% endif %}
                {% endif %}

                {% if note.link %}
                  <p>
                    <a href="{{ note.link }}" target="_blank" rel="noopener" class="note-link">
                      {{ note.link }}
                    </a>
                  </p>
                {% endif %}
                {% if note.links %}
                  <p>
                    <ol>
                      {% for link in note.links %}
                        <li>
                          <a href="{{ link }}" target="_blank" rel="noopener" class="note-link">
                            {{ link }}
                          </a>
                        </li>
                      {% endfor %}
                    </ol>
                  </p>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </main>

    {% include "footer.html" %}

    <script defer inline src="/static/js/determine-chrome.js"></script>
  </body>
</html>
