<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="Developer, Astronomer and Trekker from India.">
  {% include "head.html" %}
</head>
<body>
  <div class="content hero hero-page">
    {% include "navbar.html" %}

    <div class="helloWorld">
      <div class="hello hello-page">
        Sorry!
      </div>
    </div>
  </div>

  <div class="container posts">
    <div class="content">
      <h1 class="text-center">The page you are looking for doesn't exist.</h1>
    </div>
  </div>

  {% include "footer.html" %}
</body>
</html>
