<!DOCTYPE html>
<html>
<head>
  {% include "head.html" %}
</head>
<body>
  <div class="container-fluid">
    <div class="row content hero hero-page">
      {% include "navbar.html" %}

      <div class="col-md-6 col-md-offset-3 helloWorld">
        <div class="hello hello-page">
          Sorry!
        </div>
      </div>
    </div>
  </div>

  <div class="container posts">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 content">
          <p>That page doesn't exist.</p>
        </div>
      </div>
    </div>

  {% include "footer.html" %}
</body>
</html>
