<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="Developer, Astronomer and Trekker from India.">
  {% include "head.html" %}
</head>
<body>
  <div class="container-fluid">
    <div class="row content hero hero-page">
      {% include "navbar.html" %}

      <div class="col-md-6 col-md-offset-3 helloWorld">
        <div class="hello hello-page">
          Hello, World!
        </div>
      </div>
    </div>
  </div>

  {% include "description.html" %}
  {% include "footer.html" %}
</body>
</html>
