<!DOCTYPE html>

<html lang="en">
<head>
  <title>@siva{% if page.title %} | {{ page.title }}{% endif %}</title>
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:site_name" content="@siva" />
  <meta property="og:url" content="https://sivasubramanyam.me/{{ page.path }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta name="description" content="{{ page.description }}" />
  {% include "head.html" %}
  {% if page.code %}
    {% compress 'css' %}
      <link rel="stylesheet" href="{{ url_for('static', filename='js/highlight/styles/github-gist.css') }}"  type="text/css">
    {% endcompress %}
    <script src="{{ url_for('static', filename='js/highlight/highlight.pack.js') }}"></script>
  {% endif %}
</head>

<body>
  {% include "navbar.html" %}
  <div class="row title">
    <div class="col-md-8 col-md-offset-2 meta-outer">
      {{ page.title }}
      <div class="meta-inner">
        {% for t in page.tags.split(',') %}
          <a href = "/tag/{{ t.strip() }}">&nbsp;&nbsp;{{ t }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row content">
    <div class="col-md-8 col-md-offset-2">
      {% block content %}
        <p>Default content to be displayed</p>
      {% endblock content %}
    </div>
  </div>
  {% include "footer.html" %}
  {% if page.code %}
    <script>
      const preTags = Array.from(document.getElementsByTagName('pre'));
      preTags.forEach((i, block) => {
        hljs.highlightBlock(i);
      });
    </script>
  {% endif %}
</body>
</html>
