<!DOCTYPE html>

<html lang="en">
<head>
    <title>{{ page.title }}</title>
    {% include "head.html" %}
</head>

<body>
        {% include "navbar.html" %}
    <div class = "row title">
        <div class = "col-md-8 col-md-offset-3 meta-outer">
            {{ page.title }}
            <div class = "meta-inner">
                {% for t in page.tags.split(',') %}
                    <a href = "/tag/{{ t.strip() }}">&nbsp;&nbsp;{{ t }}</a>    
                {% endfor %}
            </div>
        </div>
    </div>
    <div class = "row content">
        <div class = "col-md-6 col-md-offset-3">
            {% block content %}
                <p>Default content to be displayed</p>
            {% endblock content %}
               {% include "disqus.html" %}
        </div>
    </div>
        {% include "footer.html" %}
</body>
</html>
