<div class = "row">
    <div class = " col-md-2 col-md-offset-5">
        <img src = "../static/images/sivanew.jpg" class = "sivPic img-responsive">
    </div>
</div>
<div class = "row">
    <div class = " col-md-12">
        <div class = "name">Sivasubramanyam A</div>
    </div>
</div>
<div class = "row centerText">
    <div class = "col-md-6 col-md-offset-3">
        Coding freak, exploratory trekker and astronomer
    </div>
</div>
<div class = "row aboutSiva">
    <div class = "col-md-8 col-md-offset-2">
        <p>
            I am an undergraduate student in Computer science and Engineering at RMK Engineering College, Chennai. I love to solve problems and enjoy finding simple and elegant solutions for ambiguous problems. I am a largely self taught programmer and my arsenal includes C, C++, Python, PHP, MongoDB, Javascript, HTML and CSS. The weapon of my choice is Python, especially when I am trying to prototype some new idea. Speaking of a different kind of languages, I am proficient in English(I cleared the Business English Certification-Level Vantage with a CEFR level of C1.), Tamil, Hindi and French. My recent accomplishments include retaining the trophy of the national level Alan Turing Quiz organised by the Computer Society of India.
        </p>
        <p>
            When I am not coding, I love visiting sites like Quora to quench my intellectual thirst. I love traveling to lesser known destinations and climbing mountains. To quote Anatoli Boukreev, "Mountains are not stadiums where I satisfy my ambition to achieve but they are the cathedral where I practice my religion." This gives me a lot of inner peace and helps me reconnect with the natural world. I am also a pretty decent photographer. Some of my works have won awards at competitions and one of my photographs was featured in an international exhibition.
        </p>
        <p>
            I also co-founded the <a href = "http://chennaiastronomyclub.org">Chennai Astronomy Club</a>, one of the most active astronomy clubs in India. When I am not coding, reading or traveling, you will find me gazing the stars with my telescope. However, what makes all of us at the Chennai Astronomy Club proud is that we share this joy with the general public in the form of outreach events.
        </p>
        <p>
            Click <a href = "../static/resume.pdf">here</a> to download my resume.
        </p>
    </div>
</div>
