<div class="row">
  <div class=" col-md-2 col-md-offset-5">
    <img src="{{ url_for('static', filename='images/profile.jpg') }}" class="center-block sivPic img-responsive img-circle">
  </div>
</div>
<div class="row">
  <div class=" col-md-12">
    <div class="name">Sivasubramanyam A</div>
  </div>
</div>
<div class="row centerText">
  <div class="col-md-6 col-md-offset-3">
    Programmer, Exploratory Trekker and Astronomer
  </div>
</div>
<div class="row content">
  <div class="col-md-6 col-md-offset-3">
    <br>
    <p>
      I currently work as a Front End Engineer at Zoho in Chennai.
    </p>

    <p>
      Python was what got me hooked to programming and clean, beautiful code makes me go crazy.
      In many ways, Python shaped me as a programmer and I still go back to it even at work whenever possible.
    </p>

    <p>
      I presently tinker mostly with Javascript and Node and it's amazing to see how Javascript has grown over the years.
      I am lazy in certain ways and always try to reduce the work that is to be done. As a result, I have written several scripts
      over the years(some of which you can read about on this website) and developer tools at work that are used by a team of hundred plus devs.
    </p>

    <p>
      The Open Source Community is something I will always be indebted to. I learnt a lot about programming just by reading code during my college days.
      I have given several talks at ChennaiPy, Chennai's Python User Group and give tech talks at work at well. I really believe user groups help in learning
      and provides a different perspective into many things. I have also met a lot of interesting people this way and some of them have become my closest friends.
    </p>

    <p>
      Outside of tech, I am a passionate traveller. Whenever possible, I head out on exploratory treks, to places that have not been trekked before. These days, I have
      kind of run out of places to trek and as a result, I try to do the same treks as fast as possible to keep myself fit and sometimes backpack as well.
      I am also a very passionate amateur astronomer. You can find me as <strong>astronomersiva</strong> on any social media. That's how crazy I am about it.
      I run the Chennai Astronomy Club, and we head out to some really rural places whenever the weather permits to observe the heavens. We also do free outreaches for
      schools and orphanages and it is always such a nice feeling to teach young kids.
    </p>
  </div>
</div>
