<div class="container posts">
  <div class="content">
    <main role="main">
      <p>I am Siva.</p>
      <p>
        I currently work at Zoho as a Front End Engineer.
        I mainly build applications with EmberJS at work but I have also worked
        on building internal frameworks and tools that are used by other developers.
      </p>
      <p>
        I am a huge fan of Python and the clean, English-like syntax is what attracted me
        to programming in the first place.
      </p>
      <p>
        I am a passionate traveller. Whenever possible, I head out on exploratory treks,
        to places that have not been trekked before. These days, I have
        kind of run out of such places and as a result, I have started backpacking to offbeat places.
        I am also a passionate astronomer. You can find me as <strong>astronomersiva</strong>
        on any social media. That's how crazy I am about it.
        I run the Chennai Astronomy Club, and we head out to some really rural places
        whenever the weather permits to observe the heavens. We also do outreaches for
        schools and orphanages and it is always such a nice feeling to teach young kids.
      </p>
      <p>
        You can find me on <a href="http://twitter.com/astronomersiva">Twitter</a> and <a href="http://github.com/astronomersiva">Github</a>.
      </p>
    </main>
  </div>
</div>
