<footer>
  <div class="row footer-contents">
    <div class="col-md-6 copyright">
      Sivasubramanyam A &copy;2018
    </div>
    <div class="col-md-6">
      <a href="http://facebook.com/astronomersiva" class="social"><i class="icon-facebook"></i></a>
      <a href="http://twitter.com/astronomersiva" class="social"><i class="icon-twitter"></i></a>
      <a href="mailto:contact@sivasubramanyam.me" class="social"><i class="icon-mail-alt"></i></a>
      <a href="http://github.com/astronomersiva" class="social"><i class="icon-github-circled"></i></a>
    </div>
  </div>
</footer>
<script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% compress 'js' %}
  <script defer src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endcompress %}
