<footer>
  <div class="row footer-contents">
    <div class="col-md-offset-6 col-md-6 copyright">
        2018 &copy; Sivasubramanyam A <a href="http://twitter.com/astronomersiva" class="social"><i class="icon-twitter"></i></a> / <a href="http://github.com/astronomersiva" class="social"><i class="icon-github-circled"></i></a>
    </div>
  </div>
</footer>
{% compress 'js' %}
  <script defer>
    let images = document.getElementsByTagName('img');
    for(let image of images) {
      image.className = `${image.className} img-responsive center-block`;
    }
  </script>
{% endcompress %}
