
<footer>
    <div class="row footer-contents">
        <div class="col-md-6 copyright">
            Sivasubramanyam A &copy;2015 
        </div>
        <div class="col-md-6">  
            <a href="https://plus.google.com/u/0/+SivasubramanyamA/" class="social"><i class="fa fa-google-plus"></i></a>
            <a href="http://facebook.com/astronomersiva" class="social"><i class="fa fa-facebook"></i></a>
            <a href="http://twitter.com/astronomersiva" class="social"><i class="fa fa-twitter"></i></a>
            <a href="mailto:contact@sivasubramanyam.me" class="social"><i class="fa fa-envelope"></i></a>
            <a href="http://github.com/astronomersiva" class="social"><i class="fa fa-github"></i></a>
        </div>
    </div>
</footer>
<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script async src="../static/js/main.js"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-57141163-3', 'auto');
ga('send', 'pageview');

</script>
