<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="sivasubramanyam,sivasubramanyam.me" name="keywords">
<meta content="Sivasubramanyam A" name="author">
<meta content="width=device-width, initial-scale=1" name="viewport">
{% if title %}
<title>{{ title }}</title>
{% else %}
<title>@siva</title>
{% endif %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.selected/css/font-awesome.selected.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"  type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js" type="text/javascript"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
