<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
{% include "favicons.html" %}
<meta name="keywords" content="sivasubramanyam,sivasubramanyam.me">
<meta name="author" content="Sivasubramanyam A">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>@siva {% if title %}{{ title }}{% endif %}</title>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-57141163-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-57141163-3');
</script>

<script>
  isWebp = () => document.createElement('canvas').toDataURL('image/webp').startsWith('data:image/webp');
  if (isWebp()) {
    let html = document.getElementsByTagName('html')[0];
    html.className = 'webp';
  }
</script>

{% compress 'css' %}
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css">
{% endcompress %}

{% import 'ajanta.html' as lazyImage %}
