<html>
	<head>
		{% include "head.html" %}
  	</head>
  	<body>
  		<div class = "row content">
			<div class="col-md-8 col-md-offset-2 HelloWorld">
				<div class="hello text-center">
					Hello, World!
				</div>
				<div class="IntroText">
					I am Siva. I am a student by day and a hacker by night. Click <a href="/about">here</a> to read more or scroll down to 
					see some of my projects.
				</div>
		    </div>
		</div>

		<div class = "row posts">
		    <div class = "col-md-6 col-md-offset-3">
		    	{% block content %}
		    		{% for page in pages|sort(attribute='order') %}
		    			<a href = "{{ url_for("page", path=page.path) }}">{{ page.title }}</a>
				        <span class = "language">
				        		
				        	{% for t in page.tags.split(',') %}
			            			<a href = "/tag/{{ t.strip() }}">&nbsp;&nbsp;{{ t }}</a>       		
			            	{% endfor %}


				        </span><br>
				        {{ page.description }}
				        <hr>
		    		{% endfor %}
		    	{% endblock content %}	        
		    </div>
		</div>
    	{% include "navbar.html" %}
      	{% include "footer.html" %}
  	</body>
</html>


