<!DOCTYPE html>
<html>
<head>
  {% include "head.html" %}
</head>
<body>
  <div class="row content">
    <div class="col-md-8 col-md-offset-2 helloWorld">
      <div class="hello text-center">
        Hello, World!
      </div>
    </div>
  </div>

  <div class="container posts">
    {% block content %}
      {% for page in pages|sort(attribute='order', reverse=True) %}
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a>
            <span class="language">
              {% for t in page.tags.split(',') %}
                <a href="{{ url_for("tag", tag=t.strip()) }}">&nbsp;&nbsp;{{ t }}</a>
              {% endfor %}
            </span><br>
            {{ page.description }}
            <hr>
          </div>
        </div>
      {% endfor %}
    {% endblock content %}
  </div>
  {% include "navbar.html" %}
  {% include "footer.html" %}
</body>
</html>
