<!DOCTYPE html>

<html lang="en">
<head>
  <title>List of posts tagged {{ tag }}</title>
  {% include "head.html" %}
</head>
<body>
  {% include "navbar.html" %}
  <div class="row posts taglist" id="list">
    <div class="col-md-6 col-md-offset-3">
      <h2>List of posts tagged <em class="taglistem">{{ tag }}</em></h2>
      {% for page in pages | sort(attribute='order') %}
        {% for page_tag in page.tags.lower().split(',') %}
          {% if page_tag.strip() == tag.lower() %}
            <a href = "{{ url_for("page", path=page.path) }}">{{ page.title }}</a>
            <span class="language">
              {% for page_tag in page.tags.split(',') %}
                <a href = "/tag/{{ page_tag.strip() }}">&nbsp;&nbsp;{{ page_tag }}</a>
              {% endfor %}
            </span>
            <br>
            {{ page.description }}
            <hr>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
  {% include "footer.html" %}
  <script type="text/javascript">
    $('footer').css('margin-top',$(document).height() - ($('#opacityNav').height() + $('.taglist').height()  ) - $('footer').height() - 80);
  </script>
</body>
</html>
