body {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
background-color: #fff;
height: 100%;
position: absolute;
width: 100%;
}
.wi {
    font-size: 250px;
    margin-top: 40%;
    opacity: 0.25;
    margin-left: 10%;
}

#weather{
    text-transform: capitalize;
    margin-top: 30%;
    margin-left: 30%;
    font-size: 45px;
    opacity: 0.3;
    padding-bottom: 10px;
}
#weatherParams{
	font-size: 25px;
	opacity: 0.2;
	margin-left: 30%;
}